<body>
  <h2 class = edit>Editing Book</h2>

  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <%= form_with model: @book do |f| %>
    <div class = title_field>
      <p>Title</p>
      <%= f.text_field :title %>
    </div>

    <div class = body_field>
      <p>Body</p>
      <%= f.text_area :body %>
    </div>

    <div class = submit_field>
      <%= f.submit 'Update Book' %>
    </div>

    <div class = link>
      <span><%= link_to 'show', "/books/#{@book.id}" %></span>
      <span>|</span>
      <span><%= link_to 'back', "/books" %></span>
    </div>
  <% end %>

</body>

